@import "theme.css";

@define-color background @base;
@define-color foreground @text;
@define-color color2 @green;
@define-color color3 @yellow;
@define-color color4 @blue;
@define-color color5 @mauve;

@keyframes blink-update {
	to {
		background-color: @color4;
	}
}

#custom-pacman {
    background-color: @background;
    padding-right: 10px;
    padding-left: 10px;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
#custom-pacman.pending-updates {
	animation-name: blink-update;
	animation-duration: 3s;
}

* {
    font-family: 'Radio Canada Big', 'JetBrainsMono Nerd Font', 'Symbols Nerd Font', sans-serif;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    min-height: 0;
}

#window {
    margin-top: 10px;
}

#idle_inhibitor,
#power-profiles-daemon {
    font-size: 12px;
    padding-right: 15px
}



window#waybar {
    margin-top: 10px;
    background-color: transparent;
    color: @foreground;
    margin: 8px;
}

#workspaces button {
    transition: all 0.25s ease;
    color: @foreground;
    padding: 0 8px;
    margin: 8px 8px;
    min-height: 0;
    min-width: 0;
}

#workspaces button.active {
    background-color: @color4;
    color: @background;
    padding: 0 10px;
    margin: 2px 2px;
}

#workspaces button.active {
    background-color: @color4;
    color: @background;
}

#workspaces button:hover {
    background-color: @sapphire;
    color: @background;
}


#workspaces {
    background-color: @background;
    margin: 0 5px;
    padding: 2px 5px;
}

.modules-left {
    margin-left: 12px;    
    margin-top: 10px;
}

.modules-right {
    margin-right: 12px;   
    margin-top: 10px;
}


.modules-center {
    margin-right: 12px;   
    margin-top: 10px;
}


#pulseaudio {
    padding-right: 10px;
    margin: 0 5px;
    padding: 0 15px;
}

#battery,
#pulseaudio,
#backlight,
#idle_inhibitor,
#mpd,
#window,
#power-profiles-daemon,
#keyboard-state,
#language {
    color: @color5;
    background-color: @background;
    margin: 0 5px;
    padding: 0 15px;
}

#network,
#cpu,
#memory,
#temperature {
    color: @color2;
    background-color: @background;
    margin: 0 5px;
    padding: 0 15px;
}

#clock {
    color: @color3;
    background-color: @background;
    margin: 0 5px;
    padding: 0 15px;
}

#custom-media,
#custom-power {
    color: @color4;
    background-color: @background;
    margin: 0 5px;
    padding: 0 15px;
}

#tray {
    background-color: @background;
    margin: 0 5px;
    padding: 0 10px;
}

#battery,
#pulseaudio,
#backlight,
#idle_inhibitor,
#mpd,
#power-profiles-daemon,
#keyboard-state,
#language,
#network,
#cpu,
#custom-pacman, 
#memory,
#temperature,
#clock,
#custom-media,
#custom-power,
#tray {
    min-height: 0;
    padding-top: 0;
    padding-bottom: 0;
}
